.head1 {
  color: #fff;
  margin-left: 5vw;
  margin-top: 1vh;
  /* font-family: "Sequel Sans"; */
  font-family: "Bangers", cursive !important;
  /* font-style: normal;
  font-weight: 415;
  font-size: 80px; */
  font-size: 90px !important;
  color: #f56fad !important;
}

.head2 {
  color: #7a4495 !important;
  /* font-family: "Sequel Sans"; */
  font-family: "Bangers", cursive !important;
  font-style: normal;
  font-weight: 300;
  font-size: 70px !important; 
  margin-left: 5vw;
}

.head3 {
  color: #7a4495 !important;
  /* font-family: "Sequel Sans"; */
  font-family: "Bangers", cursive !important;
  font-style: normal;
  font-weight: 415 !important;
  font-size: 70px !important; 
}

.home {
  align-items: center;
}

.para {
  font-family: "Sequel Sans";
  font-style: normal;
  font-weight: 305;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #ffffff;
  opacity: 0.8;
  margin-left: 5vw;
  padding-right: 5vw;
  font-family: "Alata", sans-serif !important;
  letter-spacing: 2.2px !important;
}

.learn-button {
  padding: 12px 20px;
  gap: 10px;
  height: 56px;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  order: 0;
  flex-grow: 0;
  margin-left: 5vw;
  margin-right: 10px;
  margin-top: 30px;
  position:relative;
  top:-20px;
}

.learn-button1 {
  padding: 12px 20px;
  gap: 10px;
  height: 56px;
  background: rgba(97, 90, 216, 0.73);
  color: #fff;
  order: 0;
  flex-grow: 0;
  margin-left: 5vw;
  margin-right: 10px;
  margin-top: 30px;
}

.wallet {
  padding: 16px 24px;
  gap: 10px;
  height: 56px;
  background: rgba(255, 255, 255, 0.2);
  order: 1;
  flex-grow: 0;
  color: #fff;
  margin-left: 10px;
}

.button-pos {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
}

.txt {
  font-family: "Sequel Sans";
  font-style: normal;
  font-weight: 415;
  font-size: 80px;
  line-height: 88px;
  color: #ffffff;
  opacity: 0.15;
}

.marquee {
  white-space: nowrap;
  -webkit-animation: rightThenLeft 4s linear;
}

.working {
  display: flex;
}

.working-para {
  font-family: "Sequel Sans";
  font-style: normal;
  font-weight: 305;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #ffffff;
  opacity: 0.8;
  margin-left: 100px;
  font-family: "Alata", sans-serif !important;
  letter-spacing: 2.2px !important;
}

.working-button {
  padding: 16px 24px;
  gap: 10px;

  width: 159px;
  height: 56px;
  background: #ffffff;
}

.demo-heading {
  font-family: "Sequel Sans";
  font-style: normal;
  font-weight: 415;
  font-size: 32px;
  line-height: 40px;
  color: #ffffff;
  font-family: "Bangers", cursive !important;
  color: #f56fad !important;
}

.demo-para {
  font-family: "Sequel Sans";
  font-style: normal;
  font-weight: 305;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #ffffff;
  opacity: 0.8;
  font-family: "Alata", sans-serif !important;
  letter-spacing: 1.2px !important;
}

.demo-holder {
  display: flex;
  flex-direction: row;
}

.demo-setter {
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.demo-img {
  max-width: 25vw;
}

.img2 {
  padding-bottom: 20px;
  max-height: 80vh;
  margin-left: 40px;
}

.para2 {
  font-family: "Sequel Sans";
  font-style: normal;
  font-weight: 415;
  font-size: 32px;
  line-height: 40px;
  color: #ffffff;
  font-family: "Alata", sans-serif !important;
  letter-spacing: 2.2px !important;
}

.faqfather {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
}

.faqchild1 {
  max-width: 40vw;
}

.para1 {
  font-family: "Sequel Sans";
  font-style: normal;
  font-weight: 305;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #ffffff;
  opacity: 0.8;
  padding-right: 10vw;
  font-family: "Alata", sans-serif !important;
  letter-spacing: 2.2px !important;
}

.myaccordion {
  max-width: 50vw;
  margin: 50px auto;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}

.myaccordion .card,
.myaccordion .card:last-child .card-header {
  border: none;
}

.myaccordion .card-header {
  border-bottom-color: #edeff0;
  background: transparent;
}

.myaccordion .fa-stack {
  font-size: 18px;
}

.myaccordion .btn {
  width: 100%;
  font-weight: bold;
  color: #004987;
  padding: 0;
}

.myaccordion .btn-link:hover,
.myaccordion .btn-link:focus {
  text-decoration: none;
}

.myaccordion li + li {
  margin-top: 10px;
}

.howItWorks {
  font-family: "Bangers", cursive !important;
  color: #7a4495 !important;
}

.FAQheading {
  font-family: "Bangers", cursive !important;
  color: #f56fad !important;
  font-size: 45px !important;
}

.bet{
  margin: 6vw;
  max-width: 27vw;
  border-radius: 50%;
}

.accordion{
  color: rgb(31, 53, 75) !important;
  font-size: 20px !important;
}

.acc{
  color: rgb(31, 53, 75) !important;
  font-size: 25px !important;
}